.galleryparent{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    width:400px ;
}
.gallery{
    background-color: rgba(255,255,255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 400px;
}